/*-------Section Mapa de Setores--------*/

.bannerMapaDeSetores {
    background-image: url(../images/bannerMapaDeSetores.png);
    background-size: cover;
    width: 100%;
    height: 407px;
}

.bannerMapaDeSetores__titulo {
    margin: 0;
    font-family: 'Calistoga', cursive;
    font-weight: 400;
    color: var(--branco);
    font-size: 64px;
    text-align: center;
    padding: 120px 417px;
    line-height: 83px;
}

.mapaDeSetores__mapa {
    display: flex;
    flex-direction: row;
    padding: 32px 120px;
    gap: 48px;
}

.mapaDeSetores__legenda__titulo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 32px;
    left: -48px;
    position: relative;
    color: var(--branco);
}

.mapaDeSetores__legenda {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: var(--branco);
    line-height: 48px;
    top: 125.5px;
    position: relative;
}

.pistaPremium::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background: #0E7DF1;
    left: -48px;
}

.pistaComum::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background: #FE016E;
    left: -48px;
}

.cadeiras::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background: #01A89E;
    left: -48px;
}

.cadeirasSuperiores::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background: #3F51B5;
    left: -48px;
}

.rampas::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background: #0E7DF1;
    left: -48px;
}

/*-------Section mais detalhes--------*/

.maisDetalhes {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 48px 120px;
    height: 631px;
}

.maisDetalhes__div--meio {
    align-self: flex-end;
}

.maisDetalhes__titulo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: var(--branco);
}

.maisDetalhes__subtitulo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: var(--branco);
}

.maisDetalhes__p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--branco);
    line-height: 40px;
}
